/fotos*
!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
*.iws
.DS_Store
.apt_generated
.classpath
.factorypath
.idea/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/modules.xml
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
:wqfotos*/
build/
consolidador.log
dependency-reduced-pom.xml
target/
